h1 {
            color: orange;
            text-align: center;
            border: solid;
            border-color: aqua;
            width: 50;
            font-weight: 500;
            letter-spacing: 20px;
        
        }
        p{
            color:rgb(255,255,255);
            background-color: black;
            font-weight: bold;
            text-decoration:underline
            font-family: fantasy sans-serif;
           
        }
        button:hover{
            color:white;
            background-color: rgb(4, 222, 164);
            border-radius: 20px;
        }

        